<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/header.ejs') %>

            <main>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <form class="product-form" action="/login" method="POST">
                            <div class="form-control">
                                <label for="empNo">Emp No</label>
                                <input
                                    class="<%= validationErrors.find(err => err.param === 'empNo' ) ? 'invalid':''  %>"
                                    type="text" name="empNo" id="empNo" value="<%=oldInputData.empNo%>" />

                                <label for="password">Password</label>
                                <input
                                    class="<%= validationErrors.find(err => err.param === 'password') ? 'invalid':'' %>"
                                    type="password" name="password" id="password" value="<%=oldInputData.password%>" />
                            </div>
                            <div class="centered">
                                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                                <button class="btn btn-outline-primary" type="submit">Submit</button>
                            </div>
                            <div class="centered">
                                <a href="/change-password">Change Password</a>
                            </div>
                        </form>
            </main>

            <%- include('../includes/end.ejs') %>