<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>

            <main>
                <% if (prods.length> 0) {%>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Leave Type</th>
                                <th scope="col">Leave Balance</th>
                            </tr>
                        </thead>
                        <% for (let leave of prods) {%>
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        <%= leave.leaveType %>
                                    </td>
                                    <td scope="row">
                                        <%= leave.leaveBalance %>
                                    </td>
                                </tr>
                            </tbody>
                            <% }%>
                    </table>
                    <% } else {%>
                        <h1>No Leave Balances Found!</h1>
                        <% } %>

            </main>

            <%- include('../includes/end.ejs') %>